<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender" >
    <file value="App_Data/Logs/Logs.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10000KB" />
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %date [%-5.5thread] %-40.40logger - %message%newline" />
    </layout>
  </appender>
 
  <!-- The Error appender rolls by date -->
  <appender name="ErrorTextLog" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="WARN"/>
      <levelMax value="FATAL"/>
    </filter>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{HH:mm:ss.fff} [%type] %-5p %message%newline%exception"/>
    </layout>
    <rollingStyle value="Date"/>
    <file value="App_Data/Logs/Errors_"/>
    <datePattern value="yyyy_MM_dd'.log'" />
    <appendToFile value="true"/>
    <staticLogFileName value="false"/>
  </appender>

  
  <!--<appender name="DebugSQL" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <logger name="NHibernate.SQL">
    <level value="DEBUG"/>
    <appender-ref ref="DebugSQL"/>
  </logger>
    
  <logger name="ErrorLogger">
    <appender-ref ref="ErrorTextLog"/>
    <levelMin value="WARN"/>
    <levelMax value="FATAL"/>
  </logger>
  

  <logger name="NHibernate">
    <level value="ERROR" />
  </logger>-->

  <root>
    <appender-ref ref="RollingFileAppender" />
    <appender-ref ref="ErrorTextLog"/>
    
    <priority value="INFO" />
    <level value="DEBUG" />
  </root>
</log4net>
