; begin auth token
//pkgs.dev.azure.com/boxfusion/_packaging/npm.shesha.dev/npm/registry/:username=boxfusion
//pkgs.dev.azure.com/boxfusion/_packaging/npm.shesha.dev/npm/registry/:_password=cWs1cmJ0dGUzenMzeXljZXR6ZWhndTRmc2M2aWF0MzUzN3pyN2tmYzdtYWtiZ3ZzZ2l4YQ==
//pkgs.dev.azure.com/boxfusion/_packaging/npm.shesha.dev/npm/registry/:email=johan.moolman@boxfusion.io
//pkgs.dev.azure.com/boxfusion/_packaging/npm.shesha.dev/npm/:username=boxfusion
//pkgs.dev.azure.com/boxfusion/_packaging/npm.shesha.dev/npm/:_password=cWs1cmJ0dGUzenMzeXljZXR6ZWhndTRmc2M2aWF0MzUzN3pyN2tmYzdtYWtiZ3ZzZ2l4YQ==
//pkgs.dev.azure.com/boxfusion/_packaging/npm.shesha.dev/npm/:email=johan.moolman@boxfusion.io
; end auth token
registry=https://pkgs.dev.azure.com/boxfusion/_packaging/npm.shesha.dev/npm/registry/ 
                        
always-auth=true
