<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Boxfusion.Modules.Application.AutoMapper" version="1.0.0" />
  <module moduleId="Boxfusion.Modules.Application.Services" version="1.0.0" />
  <module moduleId="Boxfusion.Modules.Common" version="1.0.0" />
  <module moduleId="Boxfusion.Modules.Domain" version="1.0.0" />
  <module moduleId="Boxfusion.Modules.FluentMigrator" version="1.0.0" />
  <module moduleId="Boxfusion.Modules.Modelers.Domain.Framework" version="1.0.0" />
  <module moduleId="Boxfusion.Modules.Shesha.Framework" version="1.0.0" />
  <module moduleId="Framework" version="0.0.1" />
  <module moduleId="Intent.Common" version="3.3.17" />
  <module moduleId="Intent.Common.CSharp" version="3.3.26" />
  <module moduleId="Intent.Common.Types" version="3.3.7" />
  <module moduleId="Intent.Metadata.RDBMS" version="3.3.12" />
  <module moduleId="Intent.Modelers.Domain" version="3.3.10" />
  <module moduleId="Intent.Modelers.Services" version="3.3.6" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="3.3.9" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.3.20" />
</modules>