@extra-margin: 28px;

.sha-collapsible-panel {
  // ant-collapse
  &.ant-collapse-icon-position-left {
    .ant-collapse-header-text {
      margin-left: @extra-margin;
    }
  }

  &.ant-collapse-icon-position-right {
    .ant-collapse-extra {
      margin-right: @extra-margin;
    }
  }

  &.no-content-padding {
    .ant-collapse-content-box {
      padding: unset;
      padding-top: 16px;
    }
  }

  &:not(.ant-collapse-ghost) {
    > .ant-collapse-item {
      > .ant-collapse-header {
        border-top: 3px solid var(--ant-primary-color);
      }
    }
  }

  &.ant-collapse-ghost {
    > .ant-collapse-item {
      > .ant-collapse-header {
        padding: 4px 0px;
        border-bottom: 2px solid var(--ant-primary-color);
      }
      > .ant-collapse-content {
        > .ant-collapse-content-box {
          padding: 5px 0;
        }
      }
    }
  }

  .ant-collapse-item {
    &.ant-collapse-item-active {
    }

    .ant-collapse-header {
      padding: 0 8px;
      min-height: 25px;
      font-size: 15px;
      font-weight: 500;
      position: relative;
      display: flex;
      justify-content: space-between;

      .ant-collapse-extra {
        float: unset;
      }

      .ant-collapse-header-text {
        flex-grow: 1;
        margin: auto;
      }
    }

    .ant-collapse-content {
      border-top: unset;
      background: white;

      &.no-content-padding {
        padding: unset;
      }

      &.ant-collapse-content-active {
      }
    }
  }

  .ant-collapse-header-text {
    font-size: 14px;
    min-height: 30px;
    line-height: 2;
  }

  .ant-blend-btn {
    border: none;
    height: 24px;
  }

  .ant-collapse-arrow {
    padding-top: 3px !important;
    margin-top: -3px !important;
  }
}
