<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="..\..\_packages" />
  </config>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="Boxfusion" value="https://nuget.boxfusion.co.za/api/v2/" />
	  <add key="DevExpress" value="https://nuget.devexpress.com/9QeSg5ya4y5iIy9m6WFKvSCopQssnuLybMEQcHZxQVlNJs1Xhk/api" />	
    <add key="ImageSharp" value="https://www.myget.org/F/imagesharp/api/v3/index.json" />
    <add key="nuget.boxfusion.co.za" value="https://pkgs.dev.azure.com/boxfusion/_packaging/nuget.boxfusion.co.za/nuget/v3/index.json" />
    <add key="nuget.shesha.dev" value="https://pkgs.dev.azure.com/boxfusion/_packaging/nuget.shesha.dev/nuget/v3/index.json" />
  </packageSources>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>