.sha-timeline {
  height: 50vh;
  overflow-y: scroll;

  .ant-col {
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .sha-timeline-item {
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: 0px;
  }

  .sha-timeline-extra {
    color: gray;
  }

  .ant-card {
    .ant-card-head {
      padding: 0 12px;

      .ant-card-head-wrapper {
        .ant-card-head-title,
        .ant-card-extra {
          padding: 8px 0;
        }
      }
    }

    .ant-card-body {
      padding: 8px;
    }
  }
}
