.annotation-conatainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.8rem;
  .container-image {
    width: calc(50% - 0.5rem);
    margin-bottom: 1rem;
  }
  .image-frame-with-error {
    display: block;
  }
  .container-image-Cover {
    position: absolute;
    width: calc(50% - 0.5rem);
    margin-bottom: 1rem;
    background-color: transparent;
  }

  .description-container {
    width: calc(40% - 0.5rem);
    padding: auto;
    overflow-y: auto;
  }
}
.customInput_container {
  display: flex;
}

.List-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .List-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.8rem !important;
  }
}

.numbering {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.annotation-error {
  position: relative;
  color: red;
}
