name: shesha-reactjs-build
description: Attempt to build the shesha-reactjs project to ensure the branch is not broken

on:
  pull_request:
    branches:
      - main

permissions:
  pull-requests: write
  contents: read

jobs:
  build-attempt:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./shesha-reactjs
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build
        id: build
        run: node --max-old-space-size=16384 node_modules/.bin/eslint --quiet && npx rimraf dist && node --max-old-space-size=16384 node_modules/.bin/rollup -c && node --max-old-space-size=16384 node_modules/.bin/tsc-alias
        